{% trans_default_domain 'FOSUserBundle' %}  

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div> 
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
     
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

<div class="hero is-fullheight "  style="background-image:url(/assets/images/bac.jpeg)" >
<div class="hero-body">
    <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
            <div class="button">
             <button class="button is-white">
                 
             {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a  href="/login">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
             </button>      
        </div>

        <div class="button">
             <button class="button is-white">
        
            <a href="/register/">
                {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
            </a>
        </button>
           </div>
           <div class="button">
             <button class="button is-white">
        
            <a href="/">
                Home
            </a>
        </button>
           </div>
                <hr class="login-hr">
                    <p class="title has-text-white is-size-3">Please login to proceed.</p>
                        <div class="box">
                            <figure class="avatar">
                                <img  src="/assets/images/log.jpeg" alt="login logo"/>
                            </figure>

                            <div class="field">
                                <label for="username">{{ 'security.login.username'|trans }}</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username"  placeholder="Username">
                            </div>

                        <div class="field">
                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Password" />
                        </div>

    

                            <label class="checkbox">
                                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                             
                                
                            </label>

                           
                            <div>
                                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />    
                            </div>
                         

                     </div>
       
        </div>
    </div>
</div>

</div>

   


</form>
