<div class="hero">
 
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
            	<div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                            <a href="{{ path('fos_user_security_logout') }}">
                               {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}
                </div>

                    
    			<hr class="login-hr">
                	<p class="subtitle has-text-black is-size-3">Please Register to proceed.</p>
                    <div class="box">
                    	<figure class="avatar">
                            <img  src="/assets/images/log.jpeg" alt="login logo"/>
                        </figure>
                       

            <form name="fos_user_registration_form" method="post" action="/register" class="fos_user_registration_register">
               
             <div id="fos_user_registration_form"></div>

             <div class="field">


             <label for="fos_user_registration_form_email"  class="required">Email</label>

                <style type="text/css">
                    input {font-weight:bold;}
                </style>
                
               
                <input type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" placeholder="Your Email" autofocus="" />
                 
               </div>     
            <div class="field">
          
                 <label for="fos_user_registration_form_username" class="required">Username</label>
                 
                 <input type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="180" pattern=".{2,}"  placeholder="Username" autofocus=""  />
             </div>

                  
            <div class="field">
                <label for="fos_user_registration_form_plainPassword_first" class="required">Password
                </label>
                <input type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" autocomplete="new-password"  placeholder="Password" autofocus="" />
            </div>
            <div class="field">
                <label for="fos_user_registration_form_plainPassword_second" class="required">Repeat password</label>
                <input type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" autocomplete="new-password"  placeholder="Repeat password" autofocus="" />
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
                </div>
                <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="f8LnwEuhuKqxK5UMzmupP5GrtIEDw1RSJu6-6xRGBoQ" />
      
                <div>
                    <input type="submit" value="Register" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>   
        