{% trans_default_domain 'FOSUserBundle' %}


<section class="section">
    <div class="column">
        <div class="box is-outlined">
            <div class="section-heading">
                <h3 class="title is-2 has-text-black has-text-centered">Inscription</h3>
            </div>
            <br>

            <div class="column">
                <div class="column is-4 is-offset-4">

                    {{ form_start(form, {'action': path('fos_user_registration_register')}) }}
                    <div class="field">
                        {{ form_label(form.email, 'Email',{'label_attr': {'class': 'label'}})}}
                        <div class="control has-icons-left">
                            {{ form_widget(form.email, {'attr': {'placeholder': 'e.g. exemple@ex.com', 'class': 'input'}})}}
                            <span class="icon is-small is-left">
                                <i class="ion-ionic ion-md-at"></i>
                            </span>
                            <p class="help is-danger">{{ form_errors(form.email, {'errors_attr': {'class' : 'help is-danger'}})}}
                        </div>
                    </div>

                    <div class="field">
                        {{ form_label(form.username, 'Nom d\'utilisateur',{'label_attr': {'class': 'label'}})}}
                        <div class="control has-icons-left">
                            {{ form_widget(form.username, {'attr': {'placeholder': 'e.g. Dinah Washington', 'class': 'input'}})}}
                            <span class="icon is-small is-left">
                                <i class="ion-ionic ion-md-person"></i>
                            </span>
                            <p class="help is-danger">{{ form_errors(form.username, {'errors_attr': {'class' : 'help is-danger'}})}}
                        </div>
                    </div>

                    <div class="field">
                        {{ form_label(form.plainPassword.first, 'Mot de passe',{'label_attr': {'class': 'label'}})}}
                        <div class="control has-icons-left">
                            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Mot de passe', 'class': 'input'}})}}
                            <span class="icon is-small is-left">
                                <i class="ion-ionic ion-md-key"></i>
                            </span>
                            <p class="help is-danger">{{ form_errors(form.plainPassword.first, {'errors_attr': {'class' : 'help is-danger'}})}}
                        </div>
                    </div>

                    <div class="field">
                        {{ form_label(form.plainPassword.second, 'Confirmer mot de passe',{'label_attr': {'class': 'label'}})}}
                        <div class="control has-icons-left">
                            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirmer mot de passe', 'class': 'input'}})}}
                            <span class="icon is-small is-left">
                                <i class="ion-ionic ion-md-lock"></i>
                            </span>
                            <p class="help is-danger">{{ form_errors(form.plainPassword.second, {'errors_attr': {'class' : 'help is-danger'}})}}
                        </div>
                    </div>

                    <div class="field">
                        {{ form_label(form.image, 'Photo de profil',{'label_attr': {'class': 'label'}})}}
                        <div id="file-js-example" class="file has-name is-fullwidth">
                            <label class="file-label">
                                {{ form_widget(form.image, {'attr': {'class' : 'file-input'}})}}
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="ion-ionic ion-md-image"></i>
                                    </span>
                                    <span class="file-label">
                                        Choisissez une image…
                                    </span>
                                </span>
                                <span class="file-name">
                                    Aucun fichier chargé
                                </span>
                            </label>
                        </div>
                        <p class="help is-danger">{{ form_errors(form.image, {'errors_attr': {'class' : 'help is-danger'}})}}
                    </div>

                    <div class="field is-grouped has-text-centered">
                        <div class="control">
                            <button class="button is-medium is-primary is-outlined" type="submit" value="{{ 'registration.submit'|trans }}">
                                <span class="icon">
                                    <i class="ion-ionic ion-md-log-in"></i>
                                </span>
                            <span>S'inscrire</span></button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <div class="is-centerd">
                        <p>Déjà inscrit ?</p>
                        <a href="/login">Connexion</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
