<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Blog of Juan & Dareine{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('assets/images/logo_blog.png') }}" />
    {% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="{{ asset('assets/images/logo_blog.png') }}" alt="Blog Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item">Gallery</a>
                        <a class="navbar-item is-active">Tag</a>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a class="navbar-item" href="{{ path('fos_user_profile_show') }}">User</a>
                        
                        {% endif %}
                        <a class="navbar-item"  href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        <a class="navbar-item" href="{{ path('fos_user_registration_register') }}">
                {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
            </a>

                    </div>
                </div>
            </div>
        </nav>
    </div>

    {% block content %}

    {% endblock %}

    <footer>
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth">
                    <p class="footer-link-title has-text-weight-bold">Navigation</p>
                    <a class="navbar-item nav-home is-active" href="#">Home</a>
                    <a class="navbar-item nav-style-guide" href="#">Gallery</a>
                    <a class="navbar-item nav-style-guide" href="#">Tag</a>
                </div>

                <div class="column is-two-fifths">
                    <p class="footer-link-title has-text-weight-bold">Dareine AMOA</p>
                    <span class="icon is-large">
                        <a target="_blank" rel="noopener noreferrer" href="https://facebook.com/maiddima"><i class="ion-ionic ion-logo-facebook ion-3x"></i></a>
                    </span>
                    <span class="icon is-large">
                        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/maiddima"><i class="ion-ionic ion-logo-twitter ion-3x"></i></a>
                    </span>
                    <span class="icon is-large">
                        <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/maiddimart"><i class="ion-ionic ion-logo-instagram ion-3x"></i></a>
                    </span>
                    <span class="icon is-large">
                        <a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/dareine/"><i class="ion-ionic ion-logo-linkedin ion-3x"></i></a>
                    </span>
                    <span class="icon is-large">
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/maiddima"><i class="ion-ionic ion-logo-github ion-3x"></i></a>
                    </span>
                </div>

                <div class="column is-two-fifths">
                    <p class="footer-link-title has-text-weight-bold">Juan-Manuel ZORO-BI</p>
                      <span class="icon is-large">
                        <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/EmmanuelZorobi"><i class="ion-ionic ion-logo-twitter ion-3x"></i></a>
                    </span>
                    <span class="icon is-large">
                        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/jeanemmanuel_zoro_bi_/"><i class="ion-ionic ion-logo-instagram ion-3x"></i></a>
                    </span>
                    <span class="icon is-large">
                        <a target="_blank" rel="noopener noreferrer" href="https://linkedin.com/in/jean-emmanuel-zoro-bi-4aa587142/"><i class="ion-ionic ion-logo-linkedin ion-3x"></i></a>
                    </span>
                    <span class="icon is-large">
                        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Juan-Manuel1993"><i class="ion-ionic ion-logo-github ion-3x"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </footer>

    {% block scripts %}

    {% endblock %}
</body>
</html>
