{% extends "base.html.twig" %}

{% block title %}Modifier l'article - {{ article.title }} - {{ parent() }}{% endblock %}

{% block content %}

<section class="section" id="edit_article">
    <div class="column">
        <div class="section-heading">
            <h3 class="title is-2 has-text-black has-text-centered">Modifier l'article - {{ article.title }}</h3>
        </div>
        <br>
        <div class="columns">
            <div class="column is-8 is-offset-2">
                {% if article.featuredimage is not null %}
                    <img width="300" src="{{ asset('assets/uploads/articlePic/' ~ article.featuredimage) }}">
                {% endif %}
                {{ form_start(form) }}
                <div class="field">
                    {{ form_label(form.title, 'Titre',{'label_attr': {'class': 'label'}})}}
                    <div class="control has-icons-left">
                        {{ form_widget(form.title, {'attr': {'placeholder': 'e.g Un titre', 'class': 'input'}})}}
                        <span class="icon is-small is-left">
                            <i class="ion-ionic ion-md-paper"></i>
                        </span>
                    </div>
                    <p class="help is-danger">{{ form_errors(form.title, {'errors_attr': {'class' : 'help is-danger'}})}}
                </div>

                <div class="field">
                    {{ form_label(form.featured_image, 'Image',{'label_attr': {'class': 'label'}})}}
                    <div id="file-js-example" class="file has-name is-fullwidth">
                        <label class="file-label">
                            {{ form_widget(form.featured_image, {'attr': {'class' : 'file-input'}})}}
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="ion-ionic ion-md-image"></i>
                                </span>
                                <span class="file-label">
                                    Choose a file…
                                </span>
                            </span>
                            <span class="file-name">
                                No file uploaded
                            </span>
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Contenu de l'article</label>
                    <div class="control">
                        {{ form_widget(form.contenu, {'attr': {'class' : 'textarea', 'placeholder' : 'ex: <h1>Article</h1><p>Paragraphe 1</p>'}})}}
                        <span></span>
                    </div>

                    <div class="field">
                        {{ form_label(form.tag, 'Tag(s)',{'label_attr': {'class': 'label'}})}}
                        <div class="control">
                            {{ form_widget(form.tag, {'attr': {'class' : 'multiple'}})}}
                        </div>
                    </div>
                </div>

                <div class="field is-grouped has-text-centered">
                    <div class="control">
                        <button class="button is-medium">
                            <span class="icon">
                                <i class="ion-ionic ion-md-paper"></i>
                            </span>
                        <span>Ajouter</span></button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

<script src="{{ asset('assets/js/file_upload_name.js') }}"></script>
<script src="{{ asset('assets/js/select.js') }}"></script>

{% endblock %}
