{% extends "base.html.twig" %}

{% block title %}Recherche tag : {{value}} - {{ parent() }}{% endblock %}

{% block content %}
<div class="container">
    <div class="section">
        <div class="column">
            <div class="section">
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <h2 class="title has-text-centered is-2">Résultats article(s) avec : <i>{{value}}</i></h2>
                        <br><br>
                        <h4 class="title has-text-centered is-4 is-danger"><i>Cette page n'est pas encore opérationelle. (La recherche ne s'effectue pas bien </i>😢<i>)</i></h4>
                    </div>

                    {% for article in articles %}
                        <div class="column is-one-third">
                            <div class="card bottom-border">
                                <div class="card-image">
                                    <a href="{{ path('article_show', {'articleSlug': article.slug}) }}">
                                        <figure class="image is-2by1">
                                            <img src="{{ asset('assets/uploads/articlePic/' ~ article.featuredimage) }}" alt="">
                                        </figure>
                                    </a>
                                </div>
                                <div class="card-content is-mobile is-tablet">
                                    <div class="is-clearfix">
                                        <div class="tags is-pulled-left">
                                            {% for tag in article.tag %}
                                            <a class="tag is-rounded is-outlined is-primary" href="{{ path('tag', {'tag': tag.tagname}) }}" style="text-decoration:none;" title="{{tag.tagname}}" aria-label="{{tag.tagname}}">{{tag.tagname}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="is-clearfix">
                                        <div class="is-pulled-left">
                                            <h2 class="title item-title is-size-4 has-text-weight-extra-bold"><a class="item-link" href="{{ path('article_show', {'articleSlug': article.slug}) }}">{{ article.title }}</a></h2>
                                        </div>
                                    </div>
                                    <div class="is-clearfix">
                                        <div class="is-pulled-left">
                                            <div class="item-author"><a href="#">{{ article.user.username }}</a></div>
                                        </div>
                                        <div class="is-pulled-right">
                                            <time datetime="{{ article.createdat|date('Y-m-d') }}">{{ article.createdat|date('d/m/Y') }}</time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                    <div class="column is-full">
                        <h2 class="title has-text-centered is-2"><i>Il n'existe encore aucun article avec ce tag.</i></h2>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
